!!! html
= partial "layouts/partials/signature"
%html
  %head
    %meta{charset: "utf-8"}
    %meta(name="description" content="#{data.page.description}" )
    %meta(name="viewport" content="initial-width:device-width, initial-scale=1.0" )
    
    %title= data.page.title || 'Luke Thomas, a Web Developer in Saint Louis, Missouri'
    = stylesheet_link_tag "application"
    = partial "layouts/partials/ga"
  
  %body{id: data.page.cssId}
    .wrapper
      ~ partial "layouts/partials/header"
      #main
        ~ yield
