!!! html
%html
  %head
    %meta{:charset => "utf-8"}
    = partial "layouts/partials/signature"
    
    %title= post.title 
    = stylesheet_link_tag "application"
    = partial "layouts/partials/ga"
  
  %body.post
    .wrapper
      = partial "layouts/partials/header"
      #main
        = yield 

        %a{href: "#{blog_path}"} &#x21AB; All Notes
