.book
  %h1.title= book.title
  %h4.author= book.author

  - book.quotes.each do |quote|

    .quote
      .content
        :markdown
          #{quote.content}
      %p.title= "&mdash; #{quote.title}"
