---
title: A List of HTML5 Canvas Examples
---

%script#shared
  function deg(radians){ return radians * 180 / Math.PI; }
%ul.art-list
  - pages.each_with_index do |script, index|
    %li
      %p
        %a(href="#{script.permalink}")= script.friendly
      %canvas.code(id="art-#{index}")

      %script.source-code
        = ""
        var canvas, width, height
        = ""
        = "canvas = document.getElementById('art-#{index}');"
        width  = canvas.width  = canvas.parentElement.offsetWidth;
        height = canvas.height = width;
        = ""

        (function(c, width, height){
        #{open("#{script.url}") { |f| f.read.gsub /^/, '  ' }}
        = "})(canvas.getContext('2d'), width, height);"
        = ""
