- image = link_to image_tag("/labs/data/#{slug}-thumbnail.jpg"), lab_permalink(slug)
.media.lab
  - if post.image
    .img.desktop
      = image
  .bd
    %h3.title= link_to post.title, lab_permalink(slug)
    %h5.date= date(slug)
    - if post.image
      .mobile
        = image
    :markdown
      #{post.content}
    = partial "layouts/partials/posts/tags", :locals => { post: post }
