%article.article-item
  %header.date
    %span.month-day
      %span.month= date post, '%b'
      %span.day= date post, '%d'
    %span.year= date post, '%Y'
  %p.title
    %a{:href => "/#{post.path}"}= post.data.title
  %p.tags
    %span.tag.code{:class => "#{post.data.tag.downcase}"}= post.data.tag
    %span.tag /
    = partial "layouts/partials/posts/tags", :locals => { :post => post }
